<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/css2/bootstrap.css">
    <script src="/javascripts/jquery-3.6.0.js" > </script>
    <script src="/javascripts/js2/bootstrap.js"></script>
    <link rel="stylesheet" href="/stylesheets/Table.css">
    
</head>
<body>
    <!-- 头部 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin_content">首页</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">借阅管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookmanagement">图书管理</a>
              <li><a class="nav-link" href="/advise">意见管理</a></li>
            </li>
            
          </ul>
        </div>
      </nav>
</div>
<br>
<div>
    <span style="font-size: 2.5rem;margin-left: 165px;">意见反馈</span>
</div>
<div style="margin-left: 165px;margin-top: 25px;">
  <table class="tables">
    <thead>
        <tr>
            <td>编号</td>
            <td>意见</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="advise">

    </tbody>
    <script src="/javascripts/advise.js"></script>
</table>
</div>






</body>
</html>