<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/css2/bootstrap.css">
    <script src="/javascripts/jquery-3.6.0.js" > </script>
    <script src="/javascripts/js2/bootstrap.js"></script>
    <link rel="stylesheet" href="/stylesheets/Table.css">
    

</head>
<body>
    <!-- 头部 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin_content">首页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">link</a>
          <li><a class="nav-link" href="#">Link</a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bookmanagement">图书管理</a>
          <li><a class="nav-link" href="#">Link</a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="margin-left: 485px;margin-top: 69px;">
    <span><h2>请修改图书管理信息：</h2></span>
  <br>
  
  <div id="message">

  </div>
  <input type="submit" id="alter" style="margin-left: 136px;margin-top: 27px;">
  </div>
  
</body>
<script src="/javascripts/bookmanagement.js"></script>
<script src="/javascripts/update.js"></script>
</html>