<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/stylesheets/css2/bootstrap.css">
    <script src="/javascripts/jquery-3.6.0.js" > </script>
    <script src="/javascripts/js2/bootstrap.js"></script>
    <style>
      body{
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body style="background-image: url(images/back.jpg);">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #543e36 !important;height: 61px;">
    &emsp;&emsp;&emsp;
    <svg xmlns="http://www.w3.org/2000/svg" width="16" style="color: wheat ;width:28px;height: 32px;margin-right: 7px;margin-top: 7px;" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
      <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg>
    <a class="navbar-brand" href="/content" style="color: blanchedalmond; font-family: KaiTi;font-size: 35px;">首页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <li><a class="nav-link" href="/economics" style="color: blanchedalmond; font-family: KaiTi;font-size: 19px;" >新书推荐</a></li>
          <!-- <li><a class="nav-link" href="/personal">个人中心</a></li> -->
        </li>
        <li class="nav-item">
          <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="color: blanchedalmond; font-family: KaiTi;border: 1px solid #543e36;
          background-color: #543e36 !important;font-size: 19px;">意见反馈</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Opinions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入您的意见" name="advise" id="recipient-name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" style="background-color: #543e36;border-color: #543e36;" id="ok" >ok</button>
      </div>
    </div>
  </div>
</div>

        </li>
        
        <li class="nav-item">
          <li><a class="nav-link" href="/mybookrack" style="color: blanchedalmond; font-family: KaiTi;font-size: 19px;">我的书架</a></li>
          <li><a class="nav-link" href="/" style="margin-left: 539px;color: blanchedalmond; font-family: KaiTi;font-size: 19px;">退出登录</a></li>
          <ll><svg style="color: wheat;margin-top: 16px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
          </svg></ll>
        </li>
        
      </ul>
      
    </div>
  </nav>
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/3.png" class="d-block w-100" alt="First slide">
        </div>
        <div class="carousel-item">
          <img src="/images/4.png" class="d-block w-100" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img src="/images/5.png" class="d-block w-100" alt="Third slide">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"  data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"  data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb"  style="background-color: #543e36 !important;">
        <li class="breadcrumb-item active" style="color: blanchedalmond; font-family: KaiTi;font-size: 19px;" aria-current="page">编者推荐</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" style="color: wheat;margin-left: -8px;width: 64px;height: 24px;" width="16" height="16" fill="currentColor" class="bi bi-megaphone" viewBox="0 0 16 16">
          <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
        </svg></li>
      </ol>
    </nav>


    <div  id="card-dec" style="display: flex;flex-direction: row;flex-wrap: wrap;flex: 1;width:1278px;">
    </div>
</body>
<script src="/javascripts/advise.js"></script>
<script src="/javascripts/mybookrack.js"></script>
</html>
<script>
  $.ajax({
    type:"GET",
    url :"/content/show",
    success:function(data){
      for (const i in data) {
        $("#card-dec").append(`
        
        <div class="card" style="margin-left:20px;">
        <img src=${data[i].bimg} style="width: 18rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${data[i].bname}</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <button type="button" class="bookadd" data-id=${data[i].bname} data-img=${data[i].bimg}>添加</button>
        </div>
      </div>
        `)
      }

    }
  })
</script>

