<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/css2/bootstrap.css">
    <script src="/javascripts/jquery-3.6.0.js" > </script>
    <script src="/javascripts/js2/bootstrap.js"></script>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" style="color: #607d8b; font-size: 54px;font-style: oblique;" aria-current="page">社会学</li>
        </ol>
      </nav>
  <!-- 卡组 -->
      <div class="card-columns">
        <div class="card">
          <img src="/images/9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">《乡村经济》+《乡土中国》——费孝通</h5>
            <p class="card-text">《江村经济》是一扇窗带你寻回中国传统社会的生活密码</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>如果面貌是指那靠水人家、四维桑稻的乡园景色，那却依然是旧时相识，乡音俚语更难辨今昔。</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                费孝通 <cite title="Source Title">   </cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img src="/images/10.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">《乌合之众》——[法]古斯塔夫·勒庞</h5>
            <p class="card-text">《乌合之众》是一本当之无愧的名著，他极为精致地描述了集体心态，是在社会心理学领域已经写出的著作中，非常有影响的。
              本书还具有持久的影响力，是群体行为的研究者不可不读的文献。</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>生产劳动和教育的早期结合是改造现代社会的最强有力的手段之</p>
            <footer class="blockquote-footer text-white">
              <small>
                马克思<cite title="Source Title">  </cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">《自卑与超越》——[奥地利]阿尔弗雷德·阿德勒</h5>
            <p class="card-text">《自卑与超越》这本书成书的年代有些久远了，书中所说的社会现象是指当时的社会现象，现在经过了约100年左右，有些社会现象与当时不太相同了，
              比如书中说当时欧洲的家长用婚姻的方式去解开孩子的心理问题这种方式基本不存在了，特些对年月进行说明，省却困扰。</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="/images/11.jpg" class="card-img" alt="...">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>我们每个人都有不同程度的自卑感，因为我们都想让自己更优秀，让自己过更好的生活。</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                [奥地利]阿尔弗雷德·阿德勒<cite title="Source Title">  </cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">《钝感力》——渡边淳一</h5>
            <p class="card-text">做事情不要总是思前想后，即使人家说一些不中听的话，
              也要马上抛之于脑后，这种有益的钝感能保证你的思想或者血液畅通无阻的原因。</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</body>
</html>